.btn-container {
  text-align: center;
  margin-top:2em;
  margin-bottom:2em;
}

.results-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2em;
  align-items: start;
}

app-search-result {
  justify-self: center;
  text-align: center;
}
